* {
    box-sizing: border-box;
    background-color: black;
    font-family: Helvetica;
    margin:0;
    color: seashell;
    opacity: 0.95;
}

main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

/* Styling the nav bar */
nav {
    display:flex;
    align-items: center;
    width: 100%;
    height:69px;
    position:fixed;
    top: 0;
    z-index: 3;
}

nav img {
    margin-left: 10px;
    height: 50px;
}

nav a{
    color:seashell;
    text-decoration: underline;
}

nav li {
    display:inline;
    margin-right: 10px;
}

nav ul{
    flex-grow: 1;
    text-align: end;
}

/* Styling the mission section one */

#mission_section_one{
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 700px;
    max-height: 700px;
    min-width: 1200px;
    max-width: 1200px;
    background-image: url(/design_spec_and_assets/img-mission-background.jpg);
    justify-content: center;
}

#mission_section_one div{
    z-index: 1;
    color: seashell;
    text-align: center;
    padding: 20px;
}

/* Styling the tea of the month second section */

#section_two_heading{
    text-align: center;
}
#tea_of_the_month_section_two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

#tea_of_the_month_section_two img{
    max-height: 200px;
    max-width: 300px;
    margin: 10px;
}

span {
    color:seashell;
    font-family: Helvetica;
    font-weight: bold;
    margin: 10px;
}

#tea_of_the_month_section_two div{
    display: flex;
    flex-direction: column;
    align-items: center;
}





